@import "{{ site.theme }}";

header {

display: none;

}

<div class="circular"><img src="https://github.com/coremas/Coremas/blob/gh-pages/Imágenes/pic_github.png" alt="" /></div>

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	background-position: 50% 50%;
	background-size: 200px 200px;
	margin: auto;
	}
