@import "{{ site.theme }}";

header {

display: none;

}

header {

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(https://github.com/coremas/Coremas/blob/gh-pages/Imágenes/pic_github.png) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	background-position: 50% 50%;
	background-size: 200px 200px;
	margin: auto;
	}

}
